/* src/styles/Ophtalmo.css */
.ophtalmo-container {
    text-align: center;
    padding: 20px;
  }
  
  .department-info {
    margin-bottom: 20px;
  }
  
  .department-info h1 {
    margin-bottom: 20px;
  }
  
  .department-info p {
    margin: 5px 0;
  }
  